body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}


/* now for menu */
.head {
    margin-top: 40px;
    max-width: var(--max-width);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon img {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}



/* for links */
.banners {
    display: grid;
    width: 100%;
    max-width: 600px;
    padding: 16px;
}

.banner {
    color: var(--theme-color-text);
    width: 600px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 82px;
    padding: 16px;
    
    border-radius: 41px;
    border: 6px solid var(--theme-color-border);
    background-color: var(--theme-color-button);
    transition: border 0.7s ease, box-shadow 0.7s ease, color 0.7s ease, background-color 0.7s ease, transform 0.7s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    /*testing*/
    margin: 10px;
}

@media (max-width: 660px) {
    .banner {
        width: calc(100vw - 70px);
    }
}

.banner:not(.banner-disable-hover):hover{
    color: var(--theme-color-text-hover);
    /* box-shadow: 0 0 0px var(--theme-color-border); */
    /* box-shadow: 0 0 10px var(--theme-color-border); */
    border: 6px solid var(--theme-color-border-hover);
    background-color: var(--theme-color-button-hover);
	transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.banner-left, .banner-right {
    width: 50px;
    text-align: center;
}

.banner-left img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.banner-text {
    flex: 1;
    text-align: center;
}


/* for link-extend */
/* that called grid icon editor, use that to accses that... */
.r2-grids {
    grid-template-columns: repeat(2, 1fr);
}

.r2-grid {
    width: 290px;
}

/* also has 3... */
.r3-grids {
    grid-template-columns: repeat(3, 1fr);
}

.r3-grid {
    width: 187px;
}


@media (max-width: 660px) {
    .r2-grid {
        width: calc(49vw - 40px);
    }

    /* also has 3... */
    .r3-grids {
        grid-template-columns: repeat(3, 1fr);
    }

    .r3-grid {
        width: calc(30vw - 18px);
    }
}

@media (max-width: 500px) {
    .r2-grids {
        grid-template-columns: repeat(1, 1fr);
    }

    .r2-grid {
        width: calc(100vw - 70px);
    }
    
    /* also has 3... */
    .r3-grids {
        grid-template-columns: repeat(2, 1fr);
    }

    .r3-grid {
        width: calc(49vw - 40px);
    }
}

@media (max-width: 350px) {
    .r3-grids {
        grid-template-columns: repeat(1, 1fr);
    }

    .r3-grid {
        width: calc(100vw - 70px);
    }
}




/* do you want a pop up window??? */
.popup-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
}


.popup-content {
    transform: translateY(100px); /* Start pushed down */
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    background: var(--theme-color-popup);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
    transition: transform 0.3s ease;
    width: 600px;

    max-height: 80vh; /* Adjust height as needed */
    overflow-y: auto;
}

@media (max-width: 600px) {
    .popup-content {
        width: calc(100vw);
    }
}

.popup-overlay.active {
  display: flex; /* only show when popup is open */
}

.popup-overlay.active .popup-content {
  transform: translateY(0); /* Slide up into view */
  opacity: 1;
}

/* pop up close button */
.popup-close-button {
  background-color: var(--theme-color-button);
  border: 2px solid var(--theme-color-border);
  color: var(--theme-color-text);
  padding: 6px 6px;
  width: 100%;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.popup-close-button:hover {
  background-color: var(--theme-color-button-hover);
  border-color: var(--theme-color-border-hover);
  color: var(--theme-color-text-hover);
}

.popup-close-button.gray-color {
  background-color: #e0e0e0;
  border: 2px solid #a8a8a8;
  color: #333333;
}

.popup-close-button.gray-color:hover {
  background-color: #d5d5d5;
  border-color: #8f8f8f;
  color: #000000;
}

/* OH there is the footer... */
footer {
    font-size: 14px;
    background-color: #333;
    color: #FFF;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}